# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


*.rar

# Настройки Android-студии и Gradle
.gradle/
local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
Captures/
.externalNativeBuild
.cxx
**/*.iml
**/*.hprof

# Файлы сборки (артефакты)
*.apk
*.aar
*.aab

# Ключи подписи приложения (Keystore / Креденшелы)
# ВНИМАНИЕ: Никогда не отправляйте эти файлы в репозиторий!
*.keystore
*.jks
*.p8
*.p12
*.key

# Логи
output.json

# Системные файлы Mac (если актуально)
.DS_Store

# Специфичное для React Native
# (Временные файлы автолинкинга)
codegen-generated

.env

*.mp4